<div class="body">
  <div class="header">
    <app-header [menuItems]="menuItems"></app-header>
  </div>
  <div class="content">
    <div class="wrapper container">
      <div class="row">
        <div class="title">
          <h2>SUPER ADMIN LOGIN</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="img">
            <img
              src="https://i.pinimg.com/originals/8b/44/51/8b4451665d6b2139e29f29b51ffb1829.png"
              alt=""
            />
          </div>
        </div>
        <div class="col form">
          <div class="input">
            <div class="input-container ic1" id="username">
              <input
                class="input2"
                type="text"
                placeholder=" "
                (input)="getInput(0, $event)"
              />
              <div class="cut cut-l"></div>
              <label for="father" class="placeholder">ID Number</label>
            </div>
          </div>

          <div class="input">
            <div class="input-container ic1" id="father">
              <input
                id="father"
                class="input2"
                [type]="passwordType"
                placeholder=" "
                (input)="getInput(1, $event)"
              />
              <div class="cut cut-l"></div>
              <label for="father" class="placeholder">Password</label>
            </div>
          </div>

          <div class="info info-psw">
            <p>
              Have you forgotten your password?
              <a routerLink="/spa/user/upsw">click here</a>
            </p>
          </div>
          <div class="info">
            <span [class]="successClass">
              {{ successMessage }}
            </span>
            <span [class]="errorClass">
              {{ errorMessage }}
            </span>
          </div>
          <button
            type="submit"
            class="btn btn-outline-success btn-sm"
            (click)="login()"
          >
            Login Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
