<div class="body">
  <div class="home">
    <header class="header" id="home">
      <img
        class="image"
        src="../../../assets/imgs/1.jpg"
        alt="SOLIS"
        width="1500"
        height="800"
      />
      <div class="title">
        <h1 class="title-text">
          <span class="cool-bg">
            <b>SOLIS</b>
          </span>
          <span class="hide-small">NPUC</span>
        </h1>
      </div>
    </header>

    <div class="empty">
      <img
        class="image"
        src="../../../assets/imgs/1.jpg"
        alt="SOLIS"
        width="1500"
        height="800"
      />
    </div>

    <!-- Page content -->
    <div class="section-content" id="first">
      <!-- Introduction Section -->
      <div class="section-content about-section">
        <h1 class="text-section-title">Policy</h1>
        <p>
          <b>SOLIS</b> is about Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
      <!-- Image of NPUC -->
      <div class="container-fluid limg">
        <img
          src="../../../assets/imgs/2.jpg"
          class="image"
          style="width: 100%"
        />
      </div>

      <!-- second section -->
      <div class="section-content about-section">
        <h3 class="text-section-title">Second Section</h3>
        <p>
          <b>SOLIS</b> is about Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
      <!-- 2nd image -->
      <div class="container-fluid limg">
        <img
          src="../../../assets/imgs/2.jpg"
          class="image"
          style="width: 100%"
        />
      </div>

      <!-- third section -->
      <div class="section-content about-section">
        <h3 class="text-section-title">Third Section</h3>
        <p>
          <b>SOLIS</b> is about Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
      <!-- 3rd image -->
      <div class="container-fluid limg">
        <img
          src="../../../assets/imgs/2.jpg"
          class="image"
          style="width: 100%"
        />
      </div>

      <!-- End page content -->
    </div>
  </div>
</div>
