* {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  margin: 0;
  padding: 0;
}

.home {
  max-width: 100%;
  overflow-x: hidden;
}

.header {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  letter-spacing: 4px;
}

.empty {
  max-width: 100%;
  height: auto;
  opacity: 0;
}

.image {
  width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin-top: 16px;
  text-align: center;
}

.title-text {
  font-size: 36px;
  color: #f1f1f1;
  font-family: var(--title-font-family);
  font-weight: light;
}

.title-text b {
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
}

.cool-bg {
  padding: 8px 16px;
  background-color: var(--marroon-darkest);
  opacity: 0.75;
  color: #fff;
}

@media (max-width: 600px) {
  .school {
    margin: auto;
    width: 90vw;
  }
  .hide-small {
    display: none !important;
  }
  .display-small {
    display: block !important;
  }
  #first {
    padding: 0 16px;
    border-radius: 25px;
    margin-top: -25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .limg {
    padding-bottom: 10px;
  }
}

.section-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 8px 16px;
  background-color: var(--color-neutral);
}

.text-section-title {
  padding: 0.01em 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: var(--title-font-family) !important;
  font-size: var(--title-font-size) !important;
  text-transform: capitalize;
  color: var(--color-primary-darker-50);
}

h1.text-section-title {
  font-size: calc(var(--title-font-size) * 1.2) !important;
  font-weight: bolder;
}

.text-section-title:after,
.text-section-title:before {
  content: "";
  display: table;
  clear: both;
}

.text-section-title:hover {
  color: var(--marroon-light);
}

.text-section-title h3 {
  border-bottom: 1px solid #f1f1f1;
  padding-top: 16px;
  padding-bottom: 16px;
}

.about-section {
  margin-bottom: 2%;
}

.about-section a {
  text-decoration: none;
}
