<!-- <div class = 'header'>
  <div class="title">
    <h1>SOLIS</h1>
    <H2>North Philippines Union Conference</H2>
  </div>
  <div class="user">
    <app-user [toggleSignButton] = 'toggleSignButton'></app-user>
  </div>
  <div [class]="menuClass" (click) = 'menuOnClick()'>
    <fa-icon [icon] = 'barIcon' ></fa-icon>
  </div>
</div> -->

<div class="header" (Click) = 'MenuToggle()'>
  <div class="_navbar">
    <a [routerLink]="homeLink" class="_navbar-item title button"><b>SOLIS</b> NPUC</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div *ngIf="!hasDropdown"class="menu-items">
      <a *ngFor="let item of menuItems" routerLink="{{item.link}}" class="_navbar-item button hide-small">{{item.name}}</a>
      <fa-icon [icon] = 'barIcon' class="_navbar-item button display-small icon" (click)="MenuToggle()"></fa-icon>
    </div>
    <div *ngIf="hasDropdown" class="menu-items">
      <div class="user-div">
        <app-user></app-user>
      </div>
      <fa-icon [icon] = 'barIcon' class="_navbar-item button icon" (click)="MenuToggle()"></fa-icon>
    </div>
  </div>
  <div class="menu-dropdown">
    <app-menu [navClass] = "menuClass" [menuItems]="menuItems"></app-menu>
  </div>
</div>
