<div class="header" (Click) = 'MenuToggle()'>
  <div class="_navbar">
    <a [routerLink]="homeLink" class="_navbar-item title button"><b>SOLIS</b> <span class="hide">NPUC</span></a>
    <div *ngIf="!hasDropdown"class="menu-items">
      <a *ngFor="let item of menuItems" routerLink="{{item.link}}" class="_navbar-item button hide-small">{{item.name}}</a>
      <fa-icon [icon] = 'barIcon' class="_navbar-item button display-small icon" (click)="MenuToggle()"></fa-icon>
    </div>
    <div *ngIf="hasDropdown" class="menu-items">
      <div class="user-div">
        <app-user></app-user>
      </div>
      <fa-icon [icon] = 'barIcon' class="_navbar-item button icon" (click)="MenuToggle()"></fa-icon>
    </div>
  </div>
  <div class="menu-dropdown">
    <app-menu [navClass] = "menuClass" [menuItems]="menuItems"></app-menu>
  </div>
</div>
