<div class="header" (Click)="MenuToggle()">
  <div class="_navbar">
    <a [routerLink]="homeLink" class="_navbar-item title button">
      <img src="../../../assets/icons/icon.png" alt="" class="icon3" /><b
        >SOLIS</b
      >
      <span class="hide">NPUC</span></a
    >
    <div *ngIf="!hasDropdown" class="menu-items">
      <div *ngFor="let item of menuItems">
        <a
          *ngIf="!item.name?.match('Login') && !item.name?.match('Register')"
          routerLink="{{ item.link }}"
          class="_navbar-item button hide-small"
        >
          {{ item.name }}</a
        >
      </div>
      <fa-icon
        [icon]="LIcon"
        class="_navbar-item not-display-small button icon2"
        [class]="ani"
        (click)="UserToggle()"
      ></fa-icon>

      <fa-icon
        [icon]="Icon"
        class="_navbar-item button display-small icon"
        [class]="xIcon + ani"
        (click)="MenuToggle()"
      ></fa-icon>
    </div>
    <div *ngIf="hasDropdown" class="menu-items">
      <div class="user-div">
        <app-user [user]="user"></app-user>
      </div>
      <fa-icon
        [icon]="Icon"
        class="_navbar-item button icon"
        [class]="xIcon + ani"
        (click)="MenuToggle()"
      ></fa-icon>
    </div>
  </div>
  <div class="menu-dropdown">
    <app-menu
      [navClass]="menuClass"
      [menuItems]="menuItems"
      (hasNavigate)="HasNav($event)"
    ></app-menu>
  </div>
  <div class="menu-dropdown">
    <app-login-menu
      [navClass]="LmenuClass"
      (hasNavigate)="HasNav($event)"
    ></app-login-menu>
  </div>
</div>
