<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ title }}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="close()"
    ></button>
  </div>
  <div class="modal-body">
    {{ confirmation }}
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-sm btn-outline-secondary"
      (click)="close()"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-sm btn-outline-success"
      (click)="Approve()"
    >
      Approve
    </button>
    <button
      type="button"
      class="btn btn-sm btn-outline-danger"
      (click)="Reject()"
    >
      Reject
    </button>
  </div>
</div>
