<div class="body">
  <div class="card">
    <div class="card-img">
      <img
        class="image"
        [src]="getImage(school.school_name)"
        alt="bible story"
      />
      <div class="overlay hide-small"></div>
    </div>
    <div class="empty">
      <img
        class="image"
        [src]="getImage(school.school_name)"
        width="1500"
        height="800"
      />
    </div>
    <div class="content">
      <h1>{{ school.school_name }}</h1>
      <span
        ><p>Located in: {{ school.address }}</p>
        <p>Established in: {{ school.year_establish }}</p></span
      >
    </div>
  </div>
</div>
