/*big phones*/
@media (max-width: 600px) {
  .content {
    position: relative;
    height: fit-content;
    background-color: var(--color-neutral);
    color: var(--on-neutral);
    padding: 8px 16px;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
  }
}

@media (min-width: 600px) {
  .content {
    position: absolute;
    top: 40%;
    /* bottom: 0; */
    width: 400px;
    height: 400px;
    overflow-y: scroll;
    max-width: 100%;
    padding: 8px 16px;
    background-color: var(--color-dark-50);
    color: var(--color-neutral);
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
  }
}
