<div class="body">
  <div class="home">
    <header class="header" id="home">
      <img class="image" [src]="imgSrc" alt="SOLIS" width="1500" height="800" />
      <div class="title">
        <h1 class="title-text">
          <span class="cool-bg">
            <span class="bold">SOLIS</span>
          </span>
          <span class="hide-small">NPUC</span>
        </h1>
      </div>
    </header>

    <div class="empty">
      <img class="image" [src]="imgSrc" alt="SOLIS" width="1500" height="800" />
    </div>

    <!-- Page content -->
    <div class="section-content" id="first">
      <!-- Introduction Section -->
      <div class="section-content about-section">
        <h1 class="text-section-title">
          About SOLIS: Revolutionizing School Management for NPUC
        </h1>
        <p>
          Welcome to <span class="bold">SOLIS</span>, the cutting-edge school
          management application tailored exclusively for educational
          institutions under the distinguished umbrella of NPUC (North
          Philippines Union Conference). Our mission is to empower schools with
          the tools they need to excel in the ever-evolving landscape of
          education.
        </p>
        <h2 class="text-section-title">Our Vision:</h2>
        <p>
          At <span class="bold">SOLIS</span>, we envision a future where school
          management is streamlined, efficient, and focused on what truly
          matters – the growth and development of students. By providing a
          comprehensive and intuitive platform, we aim to revolutionize the way
          schools operate, enabling educators to dedicate more time to teaching,
          nurturing, and inspiring young minds.
        </p>
        <h2 class="text-section-title">Who We Are:</h2>
        <p>
          <span class="bold">SOLIS</span> is a dedicated team of education
          enthusiasts, technologists, and innovators. We understand the unique
          challenges faced by schools and the NPUC organization, and we're
          committed to delivering a solution that simplifies administrative
          tasks, enhances communication, and fosters a thriving learning
          environment.
        </p>
        <h2 class="text-section-title">Key Features:</h2>
        <ul>
          <li>
            Centralized Administration: Manage all aspects of school
            administration, from student enrollment to staff management, in one
            unified platform. Say goodbye to paperwork and hello to efficiency.
          </li>
          <li>
            Student Performance Tracking: Stay up-to-date on student progress
            with real-time performance tracking, individualized reports, and
            insightful analytics.
          </li>
          <li>
            Parent Engagement: Strengthen the connection between school and home
            with robust communication tools. Parents can stay informed about
            their child's academic journey, events, and announcements.
          </li>
          <li>
            Teacher Empowerment: Provide educators with the tools they need to
            focus on teaching. Our platform simplifies lesson planning, grading,
            and collaboration, allowing teachers to inspire and innovate.
          </li>
          <li>
            Customizable for NPUC Standards: <span class="bold">SOLIS</span> is
            designed to align with the educational standards set by NPUC. We
            ensure that your school remains compliant and up-to-date with the
            organization's guidelines.
          </li>
        </ul>
        <h2 class="text-section-title">Our Commitment:</h2>
        <p>
          <span class="bold">SOLIS</span> is more than just software; it's a
          commitment to excellence in education. We're dedicated to supporting
          schools under NPUC in their mission to provide top-notch learning
          experiences for their students. With <span class="bold">SOLIS</span>,
          you have a partner in your journey towards educational success.
        </p>
        <h2 class="text-section-title">Join Us on this Journey:</h2>
        <p>
          Discover the power of <span class="bold">SOLIS</span> and witness the
          transformation it brings to your school. Let's collaborate to create a
          brighter future for education, one where technology enhances the human
          touch, and every student has the opportunity to thrive. Together, we
          can reshape school management and make a meaningful impact on the
          world of learning.
        </p>
      </div>
      <!-- End page content -->
    </div>

    <div class="empty hide-small">
      <img class="image" [src]="imgSrc" alt="SOLIS" width="1500" height="800" />
    </div>
  </div>
</div>
