.body{
    max-width: 100%;
    overflow-x: hidden;
  }

.card{
    /* position:relative; */
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    letter-spacing:4px;
}

.card-img{
    position: fixed;
}

.image{
   /* max-width:100%; */
   height:auto;
 }

img{
    width: 100%;
    vertical-align:middle;
}

.navigation.top{
    position: fixed;
    top: 100%;
    left: 0; right: 0;
    /* background-color: var(--marroon-base); */
    padding: 5px;
    margin: 0;
    margin-top: 65px;
    transition: .5s ease;
  }

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: var(--marroon-light-5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

.text {
    white-space: nowrap;
    color: white;
    font-size: calc(var(--title-font-size)*1);
    text-align: center;
    background-color: var(--marroon-dark);
    padding-left: 3px;
    padding-right: 3px;
    position: fixed;
    opacity: 0;
    overflow: auto;
    top: 60%;
    left: 50%;
    transition: 1s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .card:hover .overlay {
    bottom: 0;
    height: 100%;
  }

  .card:hover .navigation {
    top: 0;
    height: 50px;
    align-items: center;
  }

  .card:hover .text {
    opacity: 1;
  }

  .empty{
    max-width: 100%;
    height: auto;
    visibility: hidden;
    position: relative;
  }

  .content{
    position: relative;
    max-width: 100%;
    padding:8px 16px;
    background-color: #fff;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
  }

  .navigation.bottom{
    position: relative;
    background-color: var(--marroon-base);
    padding: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
  }
  .navigation .btn:nth-of-type(2){
    float: right;
  }

/*big phones*/
@media (max-width:600px){
  .hide-small{
    display:none!important;
  }
  .card{
    margin-top: 60px;
  }
  .navigation{
      padding: 5px !important;
  }
  .navigation.top{
      padding: 0 !important;
      position: fixed;
      margin-top: 55px;
      background-color: transparent;
  }
}

/*small phones*/
@media (max-width:320px){

}
