.body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--color-dark);
}

.card {
  /* position:relative; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  letter-spacing: 4px;
}

.card-img {
  position: fixed;
}

.image {
  /* max-width:100%; */
  height: auto;
}

img {
  width: 100%;
  vertical-align: middle;
}

.navigation.top {
  position: fixed;
  top: 100%;
  left: 0;
  /* right: 0; */
  padding: 5px;
  margin: 1%;
  margin-top: 65px;
  transition: 0.5s ease;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-dark);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  opacity: 0.5;
}

.text {
  white-space: nowrap;
  color: var(--on-primary);
  font-size: calc(var(--title-font-size) * 1);
  text-align: right;
  background-color: var(--color-dark);
  padding-left: 3px;
  padding-right: 3px;
  position: fixed;
  opacity: 0;
  overflow: auto;
  top: 20%;
  right: 0%;
  transition: 1s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.card:hover .overlay {
  bottom: 0;
  height: 100%;
}

.card:hover .navigation {
  top: 0;
  height: 50px;
  align-items: center;
}

.card:hover .text {
  opacity: 1;
}

.empty {
  max-width: 100%;
  height: auto;
  visibility: hidden;
  position: relative;
}

.navigation.bottom {
  position: relative;
  background-color: var(--color-primary);
  padding: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}
.navigation .btn:nth-of-type(2) {
  float: right;
}

/*big phones*/
@media (max-width: 600px) {
  .hide-small {
    display: none !important;
  }
  .card {
    margin-top: 60px;
  }
  .navigation {
    padding: 5px !important;
  }
  .navigation.top {
    padding: 0 !important;
    position: fixed;
    margin-top: 55px;
    background-color: transparent;
  }
  .content {
    position: relative;
    height: fit-content;
    background-color: var(--color-neutral);
    color: var(--on-neutral);
    padding: 8px 16px;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
  }
}

@media (min-width: 600px) {
  .content {
    position: absolute;
    top: 20%;
    width: 600px;
    height: var(--content-height);
    overflow-y: scroll;
    max-width: 100%;
    padding: 8px 16px;
    background-color: var(--color-dark-50);
    color: var(--color-neutral);
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
  }
  .empty {
    height: 100vh;
  }
  .small {
    display: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-neutral-50);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
