* {
  font-size: var(--body-font-size);
  font-family: var(--body-font-family);
  margin: 0;
  padding: 0;
}

.body {
  margin-top: var(--body-margin-header) !important;
}

.home {
  max-width: 100%;
  overflow-x: hidden;
}

.header {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  letter-spacing: 4px;
}

.empty {
  max-width: 100%;
  height: auto;
  /* opacity: 0; */
  z-index: -1;
  position: relative;
}

.image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(50%);
  vertical-align: middle;
}

#img {
  height: auto !important;
  filter: brightness(100%) !important;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.title-text {
  font-size: calc(var(--title-font-size) * 1.9);
  font-family: var(--title-font-family) !important;
  color: var(--on-primary);
  font-weight: bolder;
  z-index: 2;
  position: relative;
}

.cool-bg {
  margin-top: -25px;
  padding: 16px;
  background-color: var(--color-prime);
  opacity: 0.75;
  /* position: fixed; */
}

p.blink {
  color: var(--on-primary);
  font-size: calc(var(--title-font-size) * 0.9);
  animation: blinker 1s linear infinite;
  font-family: var(--title-font-family) !important;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .image {
    filter: brightness(75%);
  }
  .school {
    margin: auto;
    width: 90vw;
  }
  .hide-small {
    display: none !important;
  }
  .display-small {
    display: block !important;
  }
  #first {
    padding: 0 16px;
    border-radius: 25px;
    margin-top: -25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .limg {
    padding-bottom: 10px;
  }
}

.section-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 8px 16px;
  background-color: #fff;
}

.text-section-title {
  padding: 0.01em 16px;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: var(--title-font-family) !important;
  font-size: var(--title-font-size) !important;
  text-transform: capitalize;

  color: var(--on-neutral);
}

.text-section-title:after,
.text-section-title:before {
  content: "";
  display: table;
  clear: both;
}

.text-section-title:hover {
  color: var(--color-prime);
  cursor: pointer;
}

.text-section-title h3 {
  border-bottom: 1px solid #f1f1f1;
  padding-top: 16px;
  padding-bottom: 16px;
}

.about-section {
  margin-bottom: 2%;
}

.about-section a {
  text-decoration: none;
}
