input{
  float: left;
  margin-right: 5px;
  margin-left: 5px;
  width: calc(100% - 25px);
  background: transparent;
  outline: none;
  border-radius: 5px;
  border: 0px;
}

.info.info-psw{
  margin: 0px;
  margin-top: -6px !important;
}
