input{
  float: left;
  margin-right: 5px;
  margin-left: 5px;
  width: calc(100% - 25px);
  background: transparent;
  outline: none;
  border-radius: 5px;
  border: 0px;
}

.info.info-psw{
  margin: 0px;
  margin-top: -6px !important;
}

.img::before {
  content: 'LOGIN' !important;
}

@media (min-width:600px) {
  .row .col .img{
    margin-bottom: 10px;
  }
}

@media (min-width:1350px) {
  .col{
    display: grid;
    align-items: center;
    justify-content: center;
  }

}
