@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Prompt:wght@300&display=swap');

.body{
  margin-top: calc(var(--size-ratio) *4);
}

.content{
  height: var(--content-height);
  display: flex;
  background: transparent;
}

.wrapper{
  margin: auto;
  background-color: rgba(240, 248, 255, 0.825);
  height: fit-content;
  width: 60vw;
  box-shadow: var(--box-shadow);
}

.container{
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  text-align: center;
  justify-content: center;
}

.col:has(.img){
  display:flex;
  margin-bottom: 3%;
}

h2{
  font-family: 'Prompt', sans-serif;
  font-weight: lighter;
  font-size: calc(var(--size-ratio) *2.5);
  text-transform: uppercase;
  color: var(--marroon-darkest);
  margin-top: calc(.5vh + .5vw);
}

h2:hover{
  color: var(--marroon-light);
}

.img{
  background: var(--background-linear);
  width: var(--img-sqr-size);
  height: var(--img-sqr-size);
  display: grid;
  align-items: center;
  border-radius: 50%;
  margin: auto;
}

.img::before {
  padding-top: calc(5.5vh + 5.5vw);
  content: 'LOGIN';
  width: var(--img-sqr-size);
  height: var(--img-sqr-size);
  border-radius: 50%;
  border: 2px solid var(--marroon-light);
  position: absolute;
  background-color: var(--marroon-darkest);
  opacity: 0;
  transition: opacity .2s ease;
}

.img:hover::before{
  opacity: .8;
  color: white;
  transition: opacity .2s ease;
}

.img img {
  margin: auto;
  width: calc(9vh + 9vw);
}

.img img:hover{
  cursor: pointer;
}

.form .label{
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: var(--marroon-darker);
}

.form .label:hover{
  color: var(--marroon-light);
}

.form .input, .form .label, .form button{
  margin: auto;
  margin-top: calc(.5vh + .5vw);
}

.form .input{
  position: relative;
  border-radius: 5px;
  border: 2px solid #b3b3b3;
  width: calc(var(--size-ratio) *12);
  max-width: 200px;
  display: inline-block;
  padding-left: 0.5%;
  padding-right: 0.5%;
  cursor: text;
}

.form .input:hover{
  border-color: var(--marroon-light);
}

.form .input:has(input:focus){
  border-color: var(--marroon-light);
}

.form .input input{
  margin: 0;
  width: calc(4vw + 17vh);
  background: transparent;
  outline: none;
  border-radius: 5px;
  border: 0px solid #b3b3b3;
}

.form .input:has(.eye) input{
  width: calc(3vw + 15vh);
}

.input fa-icon:nth-child(1){
  float: left;
  margin-left: 0;
  color: #4e4a4ac5;
}

.input .eye{
  float: right;
  margin-right: 0;
  color: #4e4a4ac5;
}

.input .eye:hover{
  cursor: pointer;
}

.form .info {
  font-family: 'Nunito', sans-serif;
  font-style: italic;
  font-size: calc(.75vh + .5vw);
  text-transform: capitalize;
  margin-top: calc(.5vh + .5vw);
}

.form .info .nothing {
  display: none;
}

.form .info .error{
  color: red;
}

.form .info .success{
  color: green;
}

.form a{
  text-decoration: none;
}

.link {
  display: block;
  margin-bottom: calc(.5vh + .5vw);
  margin-top: calc(.5vh + .5vw);
  height: fit-content;
  color: #112233;
}

.link .arrow{
  display: none;
}

.link:hover .text{
  display: none;
}

.link:hover .arrow{
  display: block;
  color: green;
}

@media (max-width:600px){
  .wrapper{
      width: 80vw;
  }

  .form .input{
    width: 250px!important;
  }

  .form .input input{
    width: 130px!important;
  }
  .form .input #username{
    width: 150px!important;
  }
  .col:has(.img){
    margin-bottom: 0 !important;
  }
}
