.userdiv{
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  /* width: calc(9vh + 9vw); */
  display: flex;
  margin: auto;
}

.userdiv .pp {
  padding: 0%;
  border: 1px solid #000;
  align-items: center;
  justify-content: center;
  width: calc(var(--size-ratio) * 2.8);
  min-width: 40px;
  height: calc(var(--size-ratio) * 2.8);
  min-height: 40px;
  border-radius: 50%;
  display: flex;
}

.pp img{
  width: calc(var(--size-ratio) * 2.8);
  min-width: 40px;
  height: calc(var(--size-ratio) * 2.8);
  min-height: 40px;
  border-radius: 50%;

}

.userdiv .name {
  float: right;
  margin: auto;
  font-family: var(--name-font-family);
  font-size: var(--body-font-size);
  color: var(--on-primary);
  font-weight: lighter;
  padding-left: 5px;
  padding-right: 5px;
}

.userdiv:hover{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: var(--color-primary-darker);
}

a {
  color: black;
}

@media (max-width:600px){
  .hide-small{
      display:none!important;
  }
  .pp{
    float: right;
    margin-left: auto;
  }
}


