@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Prompt:wght@300&display=swap");

.body {
  margin-top: var(--body-margin-header) !important;
}

.content {
  min-height: 90vh;
  height: fit-content;
  display: flex;
  background: transparent;
}

.wrapper {
  margin: auto;
  background-color: var(--color-neutral);
  height: 85vh;
  width: 90%;
  box-shadow: var(--box-shadow);
}

.container {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  text-align: center;
  justify-content: center;
}

.title {
  font-family: "Prompt", sans-serif;
  font-weight: lighter;
  font-size: calc(var(--size-ratio) * 2.5);
  text-transform: uppercase;
  color: var(--marroon-darkest);
  margin-top: calc(0.25vh + 0.25vw);
}

.title:hover h2 {
  color: var(--color-prime) !important;
}

.row {
  min-height: 8vh;
}

.row-2 {
  min-height: 77vh !important;
  height: fit-content;
}

.left {
  background-color: var(--color-primary-darker);
  min-height: 77vh !important;
  height: fit-content;
  padding-top: 2vh;
}

.input-btn {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
  width: calc(100% - 25px);
  max-width: 50vw;
  /* padding: 3px 15px 0; */
  /* box-sizing: border-box; */
  width: calc(var(--size-ratio) * 6.7);
}

.hide {
  display: none;
}

.right {
  /* padding-top: 2vh; */
  width: fit-content;
  max-width: 65vw;
}

label {
  font-family: "Nunito", sans-serif;
  color: var(--on-primary);
}

.input {
  position: relative;
  width: calc(var(--size-ratio) * 20);
  max-width: 50vw;
  display: inline-block;
  padding-left: 1vw;
  padding-right: 1vw;
  cursor: text;
}

.form .info {
  font-family: "Nunito", sans-serif;
  font-style: italic;
  font-size: calc(0.75vh + 0.5vw);
  text-transform: capitalize;
  margin-top: calc(0.5vh + 0.5vw);
}

.form .info .nothing {
  display: none;
}

.form .info .error {
  color: var(--color-danger);
}

.form .info .success {
  color: var(--color-success);
}

.form .info.info-policy {
  margin-top: calc(var(--size-ratio) * 0.8);
  word-spacing: 0px;
  line-height: 0%;
}

.form button {
  margin: auto;
  margin-top: 0px !important;
}

.form a {
  text-decoration: none;
  color: var(--color-info);
}

.link {
  display: block;
  margin-bottom: calc(0.25vh + 0.25vw);
  margin-top: calc(0.25vh + 0.25vw);
  height: fit-content;
  color: var(--on-neutral);
}

.link .arrow {
  display: none;
}

.link:hover .text {
  display: none;
}

.link:hover .arrow {
  display: block;
  color: var(--color-success);
}

input,
select {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
  width: calc(100% - 25px);
  background: transparent;
  outline: none;
  border: 0px;
  padding: 0;
}

.info.info-psw {
  margin: 0px;
  margin-top: -6px !important;
}

.title {
  font-size: var(--header-font-size) !important;
}

.input-container {
  position: relative;
  width: 100%;
  margin-right: auto;
}

.ic1 {
  margin-top: 20px;
}

.ic2 {
  margin-top: 30px;
}

.input2 {
  outline: 0;
  max-width: 50vw;
  padding: 3px 15px 0;
  padding-bottom: 0.5px;
  box-sizing: border-box;
  color: var(--on-primary);
  font-size: var(--body-font-size);
  width: calc(var(--size-ratio) * 14);
  background-color: var(--color-primary-darker);
  border-bottom: 1px solid var(--on-primary);
}

.cut {
  background-color: var(--color-primary-darker);
  border-radius: 5px;
  height: 18px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
}

.cut-s {
  width: 50px;
}

.cut-m {
  width: 67px;
}

.cut-sl {
  width: 75px;
}

.cut-l {
  width: 84px;
}

.cut-xsl {
  width: 90px;
}

.cut-xl {
  width: 100px;
}

.cut-xxl {
  width: 120px;
}

.input2:focus {
  background-color: var(--color-neutral);
  color: var(--on-neutral);
}

/* .input:has(.input2:focus) input {
  border-radius: 5px !important;
} */

.input2:not(:placeholder-shown) {
  background-color: var(--color-neutral);
  color: var(--on-neutral);
}

.input2:focus ~ .cut,
.input2:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  background-color: transparent;
  color: var(--on-primary);
  font-family: sans-serif;
  left: 20px;
  line-height: 0;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input2:focus ~ .placeholder,
.input2:not(:placeholder-shown) ~ .placeholder {
  opacity: 0.8;
  line-height: 14px;
  color: var(--on-primary);
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.form {
  width: 80vw;
}

.tablediv {
  width: 100%;
}

.table {
  color: var(--on-neutral);
  min-height: 62vh;
  height: fit-content;
}
.table-responsive {
  margin: none;
}
.table-wrapper {
  /* background: #fff; */
  background: var(--color-primary-light-50);
  color: var(--on-primary);
  padding: 1.5vw 1.5vw;
  min-width: 20vw;
  max-width: 75vw;
  height: 75vh !important;
  overflow-y: scroll;
  box-shadow: var(--box-shadow);
}

.eye {
  opacity: 0.8;
  cursor: pointer;
}

.tdStatut-Not-Approved {
  cursor: pointer;
  font-weight: bold;
  color: var(--color-danger) !important;
}

.tdStatut-Enrolled {
  cursor: pointer;
  font-weight: bold;
  color: var(--color-success) !important;
}

.tdStatut-Pending {
  cursor: pointer;
  font-weight: bold;
  color: var(--color-warning) !important;
}

@media (min-width: 600px) {
  .form {
    justify-content: center;
    width: 25vw;
    padding-left: 4.5vw;
  }

  .row .col .img {
    margin-bottom: 10px;
  }

  .form .info.info-policy {
    margin-top: calc(var(--size-ratio) * 0.8);
    word-spacing: 0px;
    line-height: 0%;
    text-align: left;
  }
}

@media (min-width: 1350px) {
  .col {
    display: grid;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .ic1 {
    margin-top: 20px !important;
  }
  .input {
    width: 300px !important;
  }
  .input2 {
    width: 100% !important;
  }
}

/* @media (max-width: 600px) {
  .wrapper {
    margin: auto !important;
  }
  .wrapper {
    width: 80vw;
  }
} */
