.content{
    /* position: fixed; */
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    top : 0;
    padding-top: 90px;
    /* padding-bottom: 30px; */
}

.form{
    max-width: 600px;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-color: white;
    margin: auto;
    margin-bottom: 0;
    box-shadow: var(--box-shadow);
    padding: 10px;
}

.form > h1, .section > h1{
    text-align: center;
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    background-color: var(--marroon-darker);
    color: white;
}

.form p{
    font-size: var(--body-font-size);
}

.section{
  margin-top: 40px;
}

.section > h1 {
    background-color: var(--marroon-base);
}

/* school section */
.search{
    /* position: relative; */
    align-items: center;
    justify-content: center;
    max-width: 50vw;
    margin-bottom: 1%;
    float: right;
    margin-right: 28px;
    box-sizing: border-box;
    width: 250px;
  }

  #school .input{
    height: 30px;
    width: 100%;
    /* float: right; */
    outline: none;
    border-radius: 5px;
    padding: 0 1% 0 10%;
    background-color: var(--marroon-light-5);
    color: var(--marroon-darker) ;
  }

  #choice .input{
    height: 40px !important;
  }

  #school .ic1{
    margin-top: 40px !important;
  }

  #school .input:not(:placeholder-shown){
    background-color: var(--marroon-base-5);
    color: var(--marroon-darkest);
  }

  #school .input:focus{
    background-color: var(--marroon-light);
    /* color: #fff; */
  }

  #school .cut{
    width: 108px;
    background-color: white;
  }

  .sch-container{
    margin: auto;
    padding-left: none;
    margin-top: 58px;
    /* border: 1px solid rebeccapurple; */
    height: 200px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .sch-container option{
    list-style-type: none;
    border-bottom: 1px solid var(--marroon-darker);
  }

  .sch-container option:hover{
    background-color: var(--marroon-light);
  }

  #choice{
    margin-top: 5% !important;
  }


  /* navigation */
  .navigation{
    margin-top: 5%;
    display: flex;
  }

  .btn{
    background-color: var(--marroon-light-5);
    border-color: var(--marroon-light);
    color: black;
    font-weight: var(--body-font-weight);
    text-transform: capitalize;
  }

  .btn:hover{
    background-color: var(--marroon-light);
  }

  .btn.dis{
    background-color: var(--marroon-base) ;
    color: white ;
  }

  .next{
    margin-right: 0;
  }

  .choose{
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .choose .btn:nth-child(2){
    margin-left: 5%;
    margin-right: 5%;
  }

  .input-container {
    height: 40px;
    position: relative;
    width: 100%;
  }

  .ic1 {
    margin-top: 40px;
  }

  .ic2 {
    margin-top: 30px;
  }

  .input {
    background-color: var(--marroon-light-5);
    border-radius: 5px;
    border: 0;
    box-sizing: border-box;
    color: #000 ;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }

  .cut {
    background-color: #fff;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
  }

  .cut-s {
    width: 50px;
  }

  .cut-m {
    width: 67px;
  }

  .cut-l {
    width: 84px;
  }

  .cut-xl {
    width: 100px;
  }

  .input:focus{
    background-color: var(--marroon-light);
  }

  .input:not(:placeholder-shown){
    background-color: var(--marroon-base-5);
  }

  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }

  .placeholder {
    background-color: transparent;
    color : var(--marroon-darkest);
    /* color: #65657b; */
    font-family: sans-serif;
    left: 20px;
    line-height: 0;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }

  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    opacity: .8;
    line-height: 14px;
    color: var(--marroon-darkest);
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }

  .submit, .review {
    background-color: #08d;
    color: #eee;
    cursor: pointer;
  }

  .submit:hover, .review:hover {
    background-color: #06b;
  }

  .submit:active, .review:active {
    background-color: #06b;
  }

  .review {
    margin-left: 10px;
  }

  @media (max-width:600px){
    .hide-small{
        display:none!important;
    }
    .pp{
      float: right;
      margin-left: auto;
    }
  }
