<div class="small-container">
  <div class="search">
    <fa-icon id="searchIcon" [icon]="searchIcon"></fa-icon>
    <input
      type="text"
      placeholder="Search A School"
      (input)="searchSchool($event)">
  </div>
</div>

<div class="big-container">
    <div *ngFor="let schools of arrOfSchools" class="row">
      <div *ngFor="let school of schools" class="school flip-card">
        <div class="flip-card-inner">
          <div class="display-container">
            <div class="school-name">{{school.school_name}}</div>
            <img [src]="getImage(school.school_name)"
                 alt="{{school.school_name}}" style="width:100%">
          </div>
          <div class="flip-card-back">
            <h1 class="school-name">{{school.school_name}}</h1>
            <div class="flip-body">
              <p>Located in: {{school.address}}</p>
              <p>Established in: {{school.year_establish}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

