*,
*::before,
*::after{
  padding: 0;
  margin: 0;
}

.small-container .search{
  position: relative;
  width: 250px;
  margin-bottom: 1%;
  float: right;
  margin-right: 0;
  display: flex;
  box-shadow: var(--small-box-shadow);
}

.search fa-icon{
  font-weight: bolder;
  left: 3%;
  /* line-height: 3vw; */
  margin-top: 1%;
  position: absolute;
  color: var(--marroon-darker);
}

.search input{
  height: fit-content;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--marroon-darker);
  padding: 0 1% 0 10%;
  color: var(--marroon-darkest);
}


.big-container{
  width: 100%;
  height: fit-content;
  max-height: calc(var(--wrapper-height)*0.9);
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--marroon-base);
  padding-top: 1%;
  box-shadow: var(--medium-box-shadow);
}

.row {
  padding: 0 8px;
}

.row::after, .row::before{
  content:"";
  display:table;
  clear:both;
}

/* col l3 m6 margin-bottom */
.school {
  width:100%;
  margin-top:16px;
  float: left;
  padding: 0 8px;
}

.school:last-child {
  margin-bottom: 18px;
}
@media (min-width:601px){
  .school{
      width:50%;
  }
  .big-container{
    max-height: calc(var(--wrapper-height)*0.75);
  }
  .small-container .search{
    margin-right: 28px;
  }
}

@media (min-width:993px){
  .school{
      width:25%;
  }
  .big-container{
    max-height: calc(var(--wrapper-height)*0.6);
  }
}


.display-container{
  float: left;
  position:relative!important;
}

.school-name{
  position:absolute;
  left:0;
  top:0;
  color:#fff;
  background-color: var(--marroon-darkest)!important;
  padding:8px 16px;

}

img{
  border-style:none;
  vertical-align:middle;
  width: 100%;
  border: 2px solid var(--marroon-darkest);
  box-shadow: var(--medium-box-shadow);
}
