<div class="body">
  <div class="header">
    <app-header [menuItems]="menuItems"></app-header>
  </div>
  <div class="content">
    <div class="wrapper container">
      <div class="row">
        <div class="col title">
          <h2>Update Password</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="img">
            <img src="../../../assets/imgs/img_1.png" alt="">
          </div>
        </div>
        <div class="col form">

          <div class="input">
            <div class="input-container ic1" id="username">
              <input class="input2" type="text"
                    placeholder=" "
                    [(ngModel)]="user.student_id">
              <div class="cut cut-sl"></div>
              <label class="placeholder">ID Number<sup style="color: var(--color-danger)">*</sup></label>
            </div>
          </div>


          <div class="input">
            <div class="input-container ic1" id="username">
              <input class="input2" type="text"
                    placeholder=" "
                    (input) = 'getInput(0, $event)'>
              <div class="cut cut-sl"></div>
              <label class="placeholder">Username<sup style="color: var(--color-danger)">*</sup></label>
            </div>
          </div>

          <div class="input">
            <div class="input-container ic1">
              <input class="input2" [type]='passwordType'
                    placeholder=" "
                    (input) = 'getInput(1, $event)' >
              <div class="cut cut-xl"></div>
              <label class="placeholder">New Password<sup style="color: var(--color-danger)">*</sup></label>
            </div>
          </div>

          <div class="input">
            <div class="input-container ic1">
              <input class="input2" [type]='passwordType'
                    placeholder=" "
                    (input) = 'getInput(2, $event)' >
              <div class="cut cut-xxl"></div>
              <label class="placeholder">Confirm Password<sup style="color: var(--color-danger)">*</sup></label>
            </div>
          </div>

          <div class = 'info'>
            <span [class]="successClass">
              {{successMessage}}
            </span>
            <span [class]="errorClass">
              {{errorMessage}}
            </span>
          </div>
          <div class="info info-policy">
            <p>Fields marked with <sup style="color: var(--color-danger)">*</sup> are required</p>
          </div>
          <button
            type="submit"
            class="btn btn-outline-success btn-sm"
            (click) = 'Change()'
          >Change Password</button>
        </div>
      </div>

    </div>
  </div>
</div>

