<div class="body">
  <div class="header">
    <app-header [menuItems]="menuItems"></app-header>
  </div>
  <div class="content">
    <div class="wrapper container">
      <div class="row">
        <div class="col title">
          <h2>Update Password</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <div class="img">
            <img src="../../../assets/imgs/img_1.png" alt="">
          </div>
        </div>
        <div class="col-md form">
          <div class="label">
            <label>ID Number* : </label>
          </div>
          <div class="input">
            <fa-icon [icon] = 'idIcon'></fa-icon>
            <input
              type="number"
              placeholder="ID Number"
              [(ngModel)]="user.student_id"
            >
          </div>
          <div class="label">
            <label>Username* : </label>
          </div>
          <div class="input">
            <fa-icon [icon] = 'userIcon'></fa-icon>
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Username"
              (input) = 'getInput(0, $event)'
            >
          </div>
          <div class="label">
            <label>Password* : </label>
          </div>
          <div class="input">
            <fa-icon [icon] = 'lockIcon'></fa-icon>
            <input
            [type]='passwordType'
            id="password"
            placeholder="Password"
            (input) = 'getInput(1, $event)'
            >
            <fa-icon
              [icon] = 'eye()'
              class = 'eye'
              (click) = 'eyeClick()'>
            </fa-icon>
          </div>
          <div class="label">
            <label>Confirm Password* : </label>
          </div>
          <div class="input">
            <fa-icon [icon] = 'lockIcon'></fa-icon>
            <input
            [type]='passwordType'
            id="password2"
            placeholder="Confirm Password"
            (input) = 'getInput(2, $event)'
            >
            <fa-icon
              [icon] = 'eye()'
              class = 'eye'
              (click) = 'eyeClick()'></fa-icon>
          </div>
          <div class = 'info'>
            <span [class]="successClass">
              {{successMessage}}
            </span>
            <span [class]="errorClass">
              {{errorMessage}}
            </span>
          </div>
          <button
            type="submit"
            class="btn btn-outline-success btn-sm"
            (click) = 'Change()'
          >Change Password</button>
        </div>
      </div>

    </div>
  </div>
</div>

