button {
  margin-bottom: 20px !important;
}

.body {
  margin-top: var(--body-margin-header) !important;
}

.img::before {
  content: "UPDATE PASSWORD" !important;
}

@media (min-width: 600px) {
  .img {
    margin-top: -10px;
  }

  .col:has(.img) {
    display: grid;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1350px) {
  .row .col .img {
    margin-bottom: 10px;
  }
  .col.form {
    display: grid;
    align-items: center;
    justify-content: center;
  }
}
