@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Prompt:wght@300&display=swap');

.body{
  margin-top: 70px;
}

.content{
  height: var(--content-height);
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  background: transparent;
}

.wrapper{
  margin: auto;
  background-color: #f0f8ffd2;
  height: fit-content;
  width: 60vw;
  box-shadow: var(--box-shadow);
}

@media (max-width:600px){
  .wrapper{
      width: 80vw;
  }

  .row{
    display: flex !important;
    flex-direction: column !important;
  }

  .col.form{
    width: 70% !important;
    margin: auto;
  }
}

.row:nth-of-type(2){
  padding-right: 05%;
}

h2{
  font-family: 'Prompt', sans-serif;
  font-weight: lighter;
  font-size: calc(var(--size-ratio) *3);
  text-transform: uppercase;
  /* color: #000; */
  color: var(--marroon-darkest);
  margin-top: calc(.5vh + .5vw);
}

h2:hover{
  color: var(--marroon-light);
}
.container{
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  text-align: center;
  justify-content: center;
}

.col:has(.img){
  display:flex;
  margin-bottom: 1%;
}

.img{
  background: var(--background-linear);
  width: var(--img-sqr-size);
  height: var(--img-sqr-size);
  border-radius: 50%;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  /* margin-bottom: 1%; */
  display: flex;
}

.img::before {
  padding-top: calc(5.5vh + 5.5vw);
  content: 'Profile';
  width: calc(12vh + 12vw) ;
  height: calc(12vh + 12vw);
  border-radius: 50%;
  position: absolute;
  background-color: var(--marroon-darkest);
  opacity: 0;
  text-align: center;
  justify-content: center;
  transition: opacity .2s ease;
}

.img:hover::before{
  opacity: .8;
  color: white;
  transition: opacity .2s ease;
  margin: 2px solid var(--marroon-light);
}

.img img {
  margin: auto;
  width: calc(9vh + 9vw);
}

.img img:hover{
  cursor: pointer;
}


.input-container {
  height: 40px;
  position: relative;
  width: 100%;
  display: flex;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: var(--marroon-light-5);
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  color: #000 ;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

#picture::-webkit-file-upload-button {
  /* visibility: hidden; */
  display: none;
}

.cut {
  background-color: #f0f8ff00;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
}

.eye{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -30px;
  color: #4e4a4ac5;
}

.eye:hover{
  cursor: pointer;
}

.cut-s {
  width: 50px;
}

.cut-m {
  width: 67px;
}

.cut-l {
  width: 84px;
}

.cut-xl {
  width: 100px;
}

.cut-xxl {
  width: 114px;
}

.input:focus{
  background-color: var(--marroon-light);
}

.input:not(:placeholder-shown){
  background-color: var(--marroon-base-5);
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  background-color: #fff;
  transform: translateY(8px);
}

.placeholder {
  background-color: transparent;
  color : var(--marroon-darkest);
  /* color: #65657b; */
  font-family: sans-serif;
  left: 20px;
  line-height: 0;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  opacity: .8;
  line-height: 14px;
  color: var(--marroon-darkest);
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.info {
  font-family: 'Nunito', sans-serif;
  font-style: italic;
  font-size: calc(.75vh + .5vw);
  text-transform: capitalize;
  margin-top: calc(.5vh + .5vw);
}

.info .nothing {
  display: none;
}

.info .error{
  color: red;
}

.btn-outline-success{
  margin-right: 2px;
}
