@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Prompt:wght@300&display=swap");

.body {
  margin-top: 70px;
}

.content {
  min-height: var(--content-height);
  height: fit-content;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  background: transparent;
}

.wrapper {
  margin: auto;
  background-color: var(--color-neutral);
  height: fit-content;
  width: 60vw;
  box-shadow: var(--box-shadow);
}

@media (max-width: 600px) {
  .wrapper {
    width: 80vw;
  }

  .row {
    display: flex !important;
    flex-direction: column !important;
  }

  .col.form {
    width: 70% !important;
    margin: auto;
  }
}

.row:nth-of-type(2) {
  padding-right: 05%;
}

h2 {
  font-family: "Prompt", sans-serif;
  font-weight: lighter;
  font-size: calc(var(--size-ratio) * 3);
  text-transform: uppercase;
  color: var(--on-neutral);
  margin-top: calc(0.5vh + 0.5vw);
}

h2:hover {
  color: var(--color-prime);
}
.container {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  text-align: center;
  justify-content: center;
}

.col:has(.img) {
  display: flex;
  margin-bottom: 1%;
}

.img {
  background: var(--background-linear);
  width: var(--img-sqr-size);
  height: var(--img-sqr-size);
  border-radius: 50%;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  /* margin-bottom: 1%; */
  display: flex;
}

.img::before {
  padding-top: calc(5.5vh + 5.5vw);
  content: "Profile";
  width: calc(12vh + 12vw);
  height: calc(12vh + 12vw);
  border-radius: 50%;
  position: absolute;
  background-color: var(--color-primary-darker-50);
  opacity: 0;
  text-align: center;
  justify-content: center;
  transition: opacity 0.2s ease;
}

.img:hover::before {
  opacity: 0.8;
  color: var(--on-primary);
  transition: opacity 0.2s ease;
  margin: 2px solid var(--color-primary-light);
}

.img img {
  margin: auto;
  width: var(--img-sqr-size);
  height: var(--img-sqr-size);
  border-radius: 50%;
  object-fit: cover;
}

.img img:hover {
  cursor: pointer;
}

.input-container {
  height: 40px;
  position: relative;
  width: 100%;
  display: flex;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: var(--color-gray);
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  color: var(--on-neutral);
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

#picture::-webkit-file-upload-button {
  /* visibility: hidden; */
  display: none;
}

.cut {
  background-color: var(--color-neutral);
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
}

.eye {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -30px;
  color: #4e4a4ac5;
}

.eye:hover {
  cursor: pointer;
}

.cut-s {
  width: 50px;
}

.cut-m {
  width: 67px;
}

.cut-l {
  width: 84px;
}

.cut-xl {
  width: 100px;
}

.cut-xxl {
  width: 114px;
}

.input:focus {
  background-color: var(--color-primary-light);
}

.input:not(:placeholder-shown) {
  background-color: var(--color-prime);
  color: var(--on-primary);
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  background-color: var(--color-neutral);
  transform: translateY(8px);
}

.placeholder {
  background-color: transparent;
  color: var(--on-primary);
  /* color: #65657b; */
  font-family: sans-serif;
  left: 20px;
  line-height: 0;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  opacity: 0.8;
  line-height: 14px;
  color: var(--color-primary-darker);
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.info {
  font-family: "Nunito", sans-serif;
  font-style: italic;
  font-size: calc(0.75vh + 0.5vw);
  text-transform: capitalize;
  margin-top: calc(0.5vh + 0.5vw);
}

.info .nothing {
  display: none;
}

.info .error {
  color: var(--color-danger);
}

.btn-outline-success {
  margin-right: 2px;
}
