._nav{
  padding-right: calc(var(--size-ratio) * 1);
  padding-left: calc(var(--size-ratio) * 1);
  padding-top: calc(var(--size-ratio) * 1);
  padding-bottom: calc(var(--size-ratio) * 1);
  overflow:hidden;
  color:#000;
  letter-spacing:5px;
  background-color: #fff;
  float: right;
  position: absolute;
  right: 0;
  margin-top: calc(var(--size-ratio) * 1);
  box-shadow: var(--box-shadow);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
 }

._navbar-item{
  padding:8px 16px;
  width:auto;
  border:none;
  display:block;
  outline:0;
}

.button{
  border:none;
  padding:8px 16px;
  overflow:hidden;
  color: var(--marroon-darker);
  background-color:inherit;
  cursor:pointer;
  white-space:nowrap;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

.button:hover{
  color:#000!important;
  background-color: var(--marroon-light)
}

.button a {
  text-decoration: none;
  color: #000;
  font-size: var(--body-font-size);
}

.hide {
  display: none;
}
.animate-right{
  position:relative;
  display: block;
  animation:animateright 0.5s
}
@keyframes animateright{
  from{right:-300px;opacity:0} to{right:0;opacity:1}
}

.animate-left{
  position:relative;
  animation:animateleft 0.5s;
}
@keyframes animateleft{
  from{right: 0;opacity:1} to{right:-300px;opacity:0}
}
.hidden{
  opacity: 0;
}
